body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4980e7;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgb(26, 11, 243);
    color: white;
}

.filters {
    padding: 20px;
    background-color: #e0e0e0;
}

.filters h2 {
    margin-top: 0;
}

.filters div {
    margin-bottom: 20px;
}

.filters label {
    display: block;
    margin-bottom: 5px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.produto {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.produto h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.produto .price {
    font-weight: bold;
    margin: 10px 0;
}

.produto button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.produto button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}