body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9a42d4;
    color: #333;
    background-image: url(imagens/musica-5.jpg) ;
}

header {
    background-color: rgb(230, 34, 236);
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.search {
    padding: 10px;
    background-color: #e0e0e0;
    text-align: center;
}

.search input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content {
    padding: 20px;
}

.content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.card {
    background-color: rgb(214, 121, 226);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.songs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.songs ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.music-player {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls button {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
}

.volume-control {
    display: flex;
    align-items: center;
}

.volume-control label {
    margin-right: 10px;
}

footer p {
    text-align: center;
    padding: 10px;
    margin: 0;
}